@mixin button($padding) {
	// padding: 0.7rem 3rem;
	padding: $padding;
	border-radius: 4px;
	background: #56b280;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	font-weight: 500;
	font-size: 1.25em;
}
